{
	"extends": "twipped/node",
	"rules": {
		"no-negated-condition": "off",
		"max-len": ["warn", 140],
		"promise/no-native": "off",
		"prefer-spread": "off",
		"prefer-rest-params": "off",
		"prefer-arrow-callback": "off"
	}
}